@page "/"

<PageTitle>Home</PageTitle>

<RadzenCard Style="padding: 20px; max-width: 1200px; margin: 50px;">
    <RadzenRow>
        <RadzenColumn Size="12">
            <RadzenHeading Size="H1">🚀 BlazorModular – Modular Blazor Application</RadzenHeading>
            <p>
                BlazorModular is a flexible and scalable application framework designed to manage UI components through a modular architecture.
            </p>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>

       
        <RadzenColumn Size="4">
            <RadzenCard Style="background: #154c79; color: white; margin-top: 20px; margin-bottom: 20px;">
                <RadzenHeading Size="H2">🔧 Modular system</RadzenHeading>
                <p>Flexible addition of UI components without rebuilding.</p>
                <RadzenButton Text="Перейти" Click="@(()=>Navigation.NavigateTo("/create-module"))" Style="background: white; color: #154c79;" />
            </RadzenCard>
        </RadzenColumn>

    </RadzenRow>


    <RadzenRow>
        <RadzenColumn Size="6">
            <RadzenHeading Size="H3">🔹 Main features</RadzenHeading>
            <ul>
                <li>✅ Dynamic module management.</li>
                <li>✅ Separation of API and UI components.</li>
                <li>✅ Flexibility and scalability.</li>
            </ul>
        </RadzenColumn>

        <RadzenColumn Size="6">
            <RadzenHeading Size="H3">🌍 Where can it be used?</RadzenHeading>
            <ul>
                <li>📌 Dynamically Changing UI Applications.</li>
            </ul>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>


@code {
    @inject NavigationManager Navigation

}